In [1]:
print('g')

g

In [3]:
import numpy as np
import pandas as pd

def create_table(n_fetuers=10, ids=4, n_reapte_ids=4):
    rows = ids * n_reapte_ids
    ids = np.tile([id_ for id_ in range(1, n_reapte_ids+1)], n_reapte_ids)
    values = np.random.randint(1, 1000, size=(rows, n_fetuers))
    fetuers = [f'feature_{n}' for n in range(n_fetuers)]
    data = pd.DataFrame(values, columns=fetuers)
    ids_series = pd.Series(ids, name="IDs")
    return pd.concat([ids_series, data], axis=1)

create_table()

,IDs,feature_0,feature_1,feature_2,feature_3,feature_4,feature_5,feature_6,feature_7,feature_8,feature_9
0,1,694,463,1,332,985,786,756,993,745,757
1,2,185,258,764,993,96,741,693,328,15,269
2,3,779,853,634,718,803,2,927,483,810,536
3,4,998,816,139,984,205,601,386,652,28,419
4,1,901,217,951,814,253,984,512,827,616,331
5,2,881,155,37,850,346,682,525,465,189,41
6,3,297,433,487,944,972,629,811,202,901,502
7,4,336,999,374,17,944,482,441,56,626,942
8,1,191,514,748,620,582,382,663,186,324,954
9,2,370,194,484,85,300,249,603,550,230,138
10,3,285,706,819,468,976,752,50,298,871,560
11,4,448,897,26,865,339,150,232,956,203,992
12,1,980,86,731,51,938,390,152,593,766,130
13,2,17,708,74,975,125,157,82,154,184,697
14,3,491,733,76,980,401,368,451,694,972,914
15,4,340,251,845,747,10,951,781,497,710,321